@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <title>权限资源列表</title>
    <link href="~/Content/css/commonstyle.css" rel="stylesheet" />
    <link href="~/Content/css/pagestyle.css" rel="stylesheet" />
    <link href="~/Content/themes/cupertino/jquery-ui.cupertino.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/JqGrid/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/JqGrid/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/JqGrid/css/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    <script src="~/Scripts/plugins/JqGrid/js/i18n/grid.locale-cn.js"></script>
    <script src="~/Scripts/plugins/JqGrid/src/jquery.jqGrid.js"></script>
    <script src="~/Scripts/framework.js"></script>
    <script src="~/Scripts/plugins/JqGrid/jqGrid.warp.js"></script>
    <script>
        var appId = '@ViewBag.AppId';

        $(document).ready(function () {
            $.jqgridWarp.init("auth_grid", "/Auth/GetAuthFunctionInfoListData", 500, {
                postData: { appId: appId, parentId: '@ViewBag.ParentFunctionId' },
                multiselect: true,
                searcher: false,
                pager:false,
                colModel: [
                    {
                        label: "操作", width: '150', align: "center", resizable: false, search: false, sortable: false,
                        formatter: function (cellvalue, options, row) {
                            $("#bt_go_prev").attr("parentId", row.ParentParentId);
                            $("#bt_add").attr("parentId", row.ParentId);
                            if (row.ParentId == "00000000-0000-0000-0000-000000000000") {
                                return '<a href="#" class="wiscobutton" onclick="nextFucn(event,\'' + row.FunctionId + '\',\'' + row.ParentId + '\')"><span class="left"></span><span class="center">下一级</span><span class="right"></span></a>'
                            }
                            return '<a href="#" class="wiscobutton" onclick="previousFucn(event,\'' + row.ParentParentId + '\',\'' + row.ParentParentId + '\')"><span class="left"></span><span class="center">上一级</span><span class="right"></span></a><a href="#" class="wiscobutton" onclick="nextFucn(event,\'' + row.FunctionId + '\',\'' + row.ParentId + '\')"><span class="left"></span><span class="center">下一级</span><span class="right"></span></a>'
                        }
                    },
                { label: "资源标识", name: 'Code', index: 'Code', width: '150', search: false, sortable: false, align: "center" },
                { label: "资源名称", name: 'Name', index: 'Name', width: '150', search: false, sortable: false },
                {
                    label: "是否启用", name: 'IsEnable', index: 'IsEnable', width: '100', align: "center",
                    formatter: function (cellvalue, options, row) { if (row.IsEnable) return "已启用"; else return "已禁用" }, search: false, resizable: false, sortable: false
                },
                { label: "创建时间", name: 'CreateTime', index: 'CreateTime', width: '200', search: false, resizable: false, sortable: false, align: "center" },
                { label: "更新时间", name: 'UpdateTime', index: 'UpdateTime', width: '200', search: false, resizable: false, sortable: false, align: "center" },
                { label: "说明", name: 'Desc', index: 'Desc', width: '300', search: false, sortable: false },
                
                { label: "FunctionId", name: 'FunctionId', index: 'FunctionId', hidden: true, key: true, search: false, resizable: false, sortable: false }

                
                ]
            });
        });

        function getSelectId() {
            var ids = [];
            var selects = $.jqgridWarp.getMultiSelectedRowIds("auth_grid");
            for (var i = 0; i < selects.length; i++) {
                ids.push(selects[i]);
            }
            if (ids.length == 0) {
                alert("请选择需要操作的数据项");
                return;
            }
            if (ids.length > 1) {
                alert("只能选择一个数据项");
                return;
            }

            return ids[0];
        }

        function getAllSelectId() {
            var ids = [];
            var selects = $.jqgridWarp.getMultiSelectedRowIds("auth_grid");
            for (var i = 0; i < selects.length; i++) {
                ids.push(selects[i]);
            }
            if (ids.length == 0) {
                alert("请选择需要操作的数据项");
                return;
            }
            return ids;
        }

        function editAuthFunctionInfo() {
            var id = getSelectId();
            if (id == null) {
                return;
            }
            showWiscoDialog('@Url.Content("~/Auth/AuthFunctionInfoEdit?id=")' + encodeURIComponent(id), 400, 300, null, null, null, RetrunValue);
        }

        function authFunctionInfoDeleteAll() {
            var ids = getAllSelectId();
            if (ids == null) {
                return;
            }
            $.ajax({
                url: "/Auth/AuthFunctionInfoDeleteAll",
                data: { ids: ids.join(",") },
                cache: false
            }).done(function (result) {
                if (!result.IsSuccess) {
                    if (result.Code == -101) {
                        alert(result.Desc);
                    }
                    else {
                        alert("数据删除错误");
                    }
                } else {
                    $.jqgridWarp.refreshGrid("auth_grid");
                }
            });
        }

        function RetrunValue(argu) {
            if (argu == "success") {
                $.jqgridWarp.refreshGrid("auth_grid");
            }
        };

        function previousFucn(event, id, parentParentId)
        {
            event.stopPropagation();
            $.jqgridWarp.applyPostData("auth_grid", { parentId: id });
            if (id == "00000000-0000-0000-0000-000000000000") {
                $("#bt_go_prev").hide();
            }
        }

        function nextFucn(event, id, parentParentId)
        {
            event.stopPropagation();
            $.jqgridWarp.applyPostData("auth_grid", { parentId: id })
            $("#bt_go_prev").attr("parentId", parentParentId);
            $("#bt_add").attr("parentId", id);
            $("#bt_go_prev").show();
        }

        function goPreviousFucn(event)
        {
            var parentId = $("#bt_go_prev").attr("parentId");
            $.jqgridWarp.applyPostData("auth_grid", { parentId: parentId })
            if (parentId == "00000000-0000-0000-0000-000000000000") {
                $("#bt_go_prev").hide();
            }
        }

        function addAuthFunctionInfo()
        {
            var parentId = $("#bt_add").attr("parentId");
            if (parentId == undefined)
            {
                parentId = "00000000-0000-0000-0000-000000000000";
            }
            showWiscoDialog('@Url.Content("~/Auth/AuthFunctionInfoAdd?parentId=")' + parentId + "&appId=" + appId, 400, 300, null, null, null, RetrunValue);
        }
    </script>
</head>
<body>
    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" class="listpage">
        <tr height="24px">
            <td colspan="2" class="title">权限资源列表-@ViewBag.AppName<span class="arrowdown" onclick="foldSearchPanel(this);"></span></td>
        </tr>
        <tr height="30px">
            <td class="search">
                <div style="width: 200px; float: left;height:40px;">
                    <a href="#" class="wiscobutton" id="bt_add" onclick="addAuthFunctionInfo();"><span class="left"></span><span class="center">新增</span><span class="right"></span></a>
                    <a href="#" class="wiscobutton" onclick="editAuthFunctionInfo();"><span class="left"></span><span class="center">修改</span><span class="right"></span></a>
                    <a href="#" class="wiscobutton" onclick="authFunctionInfoDeleteAll();"><span class="left"></span><span class="center">删除</span><span class="right"></span></a>
                </div>
                <div style="clear:both;"></div>
            </td>
            <td class="search" width="100">
                <div style="width: 90px; float: left;height:40px;">
                    <a href="#" class="wiscobutton" onclick="goPreviousFucn(event);" id="bt_go_prev" style="display:none"><span class="left"></span><span class="center">返回上级</span><span class="right"></span></a>
                </div>
                <div style="clear:both;"></div>
</td>
        </tr>
        <tr>
            <td colspan="2" class="grid" valign="top">
                <table id="auth_grid"></table>
            </td>
        </tr>
    </table>
</body>
</html>

