@model Ik.ItAdmin.Web.Dtos.CfgDefinitionVersion
@{
    ViewBag.Title = "配置版本查看";
}
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" class="infoviewpage">
    <tr height="24px">
        <td class="title">配置定义版本查看</td>
    </tr>
    <tr>
        <td>
            <div class="info">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr height="10px">
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr height="30px">
                        <td width="100px" class="label">配置标识：</td>
                        <td width="245px" class="value">@Model.Name</td>
                    </tr>
                    <tr height="30px">
                        <td width="100px" class="label">配置名称：</td>
                        <td width="245px" class="value">@Model.Title</td>
                    </tr>
                    <tr height="30px">
                        <td width="100px" class="label">版本号：</td>
                        <td width="245px" class="value">@Model.Version</td>
                    </tr>
                    <tr class="area">
                        <td width="100px" class="label">版本描述：</td>
                        <td width="245px" class="value">
                            @Model.DefVerDesc
                        </td>
                    </tr>
                    <tr height="10px">
                        <td colspan="2">&nbsp;</td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr height="35px">
        <td class="handle">
            <a href="#" class="wiscobutton" onclick="hideWiscoDialog();"><span class="left"></span><span class="center">关闭</span><span class="right"></span></a>
        </td>
    </tr>
</table>

