<?xml version="1.0" encoding="utf-8"?>
<keyConfigDefines projectName="Ik.Service.Auth" projectShowName="权限服务v1">
	<cacheKeys>
		<key key="identity_{token}_v1" name="授权信息缓存" desc="" modelName="权限服务"/>
		<key key="identity_{token}_touch" name="授权信息缓存" desc="" modelName="权限服务"/>
	</cacheKeys>
</keyConfigDefines>



