@CHARSET "UTF-8";
table.bmappage td.title {
	background-image: url("../../image/demo/bmappage/titlebg.gif");
	border-bottom: #A0C6F3 1px solid;
	position: relative;
	font-weight: bold;
	color: #193463;
	padding-left: 10px;
}
table.bmappage td.title span.arrowdown,
table.bmappage td.title span.arrowleft {
	background-image: url("../../image/demo/bmappage/titlearrow.gif");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	cursor: pointer;
	width: 12px;
	height: 12px;
	top: 6px;
	left: 388px;
}
table.bmappage td.title span.arrowdown {
	background-position: 0px 0px;
}
table.bmappage td.title span.arrowleft {
	background-position: -12px 0px;
}
table.bmappage td.map {
	border-left: #A0C6F3 1px solid;
	vertical-align: top;
	position: relative;
}
table.bmappage td.map div.button {
	position: absolute;
	height: 100%;
}
table.bmappage td.map div.button a {
	background-image: url("../../image/demo/bmappage/mapbutton.gif");
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 9px;
	margin-left: 9px;
	width: 22px;
	height: 22px;
}
table.bmappage td.map div.button a#button1 {
	background-position: 0px 0px;
}
table.bmappage td.map div.button a#button2 {
	background-position: -22px 0px;
}
table.bmappage td.map div.button a#button3 {
	background-position: -44px 0px;
}
table.bmappage td.map div.button a#button4 {
	background-position: -66px 0px;
}
table.bmappage td.map div.button a#button5 {
	background-position: -88px 0px;
}
table.bmappage td.map div.button a#button6 {
	background-position: -110px 0px;
}
table.bmappage td.map div.button a#button7 {
	background-position: -132px 0px;
}
table.bmappage td.map div.button a#button8 {
	background-position: -154px 0px;
}
table.bmappage td.map div.button a#button9 {
	background-position: 0px -22px;
}
table.bmappage td.map div.button a#button10 {
	background-position: -22px -22px;
}
table.bmappage td.map div.button a#button11 {
	background-position: -44px -22px;
}
table.bmappage td.map div.button a#button12 {
	background-position: -66px -22px;
}
table.bmappage td.map div.button a#button13 {
	background-position: -88px -22px;
}
table.bmappage td.map div.button a#button14 {
	background-position: -110px -22px;
}
table.bmappage td.map div.button a#button15 {
	background-position: -132px -22px;
}
table.bmappage td.map div.button a#button16 {
	background-position: -154px -22px;
}
table.bmappage td.map div.button a#button17 {
	background-position: -176px 0px;
}
table.bmappage td.map div.button a#button18 {
	background-position: -176px -22px;
}
table.bmappage td.map div.button a#button19 {
	background-position: -198px 0px;
}
table.bmappage td.search {
	border-bottom: #A0C6F3 1px solid;
	background-color: #F2FBFF;
	line-height: 30px;
	vertical-align: top;
	padding-top: 5px;
	padding-left: 15px;
}
table.bmappage td.search span.label,
table.bmappage td.search span.value {
	display: inline-block;
	line-height: 23px;
	*line-height: 18px;
	margin-top: 4px;
	margin-bottom: 4px;
	height: 20px;
}
table.bmappage td.search span.label {
	color: #193463;
}
table.bmappage td.search .wiscobutton {
	margin-bottom: -7px;
	*margin-top: 4px;
}
table.bmappage td.handle {
	vertical-align: top;
	padding-top: 7px;
	padding-left: 15px;
}
table.bmappage td.grid {
	vertical-align: top;
}