@CHARSET "UTF-8";
table.selectpage td.title {
	background-image: url("../../image/demo/selectpage/titlebg.gif");
	border-bottom: #A0C6F3 1px solid;
	font-weight: bold;
	color: #193463;
	padding-left: 10px;
}
table.selectpage div.info {
	overflow: auto;
	width: 100%;
	height: 100%;
}
table.selectpage div.info table {
	margin-bottom: -9999px;
	margin-right: -9999px;
}
table.selectpage div.info td.label {
	text-align: right;
	color: #193463;
}
table.selectpage div.info td.label div,
table.selectpage div.info td.value {
	text-align: left;
}
table.selectpage div.info td.sign {
	text-align: left;
	color: #FF0000;
}
table.selectpage div.info td.button {
	text-align: center;
}
table.selectpage div.info td.space {
	font-size: 0px;
}
table.selectpage div.info tr.area td.label {
	vertical-align: top;
	line-height: 20px;
}
table.selectpage div.info tr.area td.sign {
	vertical-align: bottom;
	line-height: 20px;
}
table.selectpage div.info .wiscoselect select {
	width: 235px;
}
table.selectpage div.info .wiscotree  {
	width: 233px;
	*width: 235px;
	height: 180px;
	*height: 158px;
}
table.selectpage div.info .wiscolistbox {
	width: 233px;
	*width: 235px;
}
table.selectpage div.info .wiscolistbox select {
	width: 236px;
	*width: 237px;
}
table.selectpage td.handle {
	border-top: #A0C6F3 1px solid;
	background-color: #F2FBFF;
	text-align: center;
	vertical-align: top;
	padding-top: 7px;
}