<?xml version="1.0" encoding="utf-8"?>
<keyConfigDefines projectName="Ik.Framework" projectShowName="Ik.Framework">
	<cacheKeys>
		<key key="max_value_{key}_v1" name="当前编号最大值" desc="" modelName="编号服务"/>
		<key key="next_value_{key}_v1" name="当前编号值" desc="" modelName="编号服务"/>
		<key key="flag_set_maxvalue_{key}_v1" name="设置编号最大值标志" desc="" modelName="编号服务"/>
	</cacheKeys>
</keyConfigDefines>



