@CHARSET "UTF-8";
* {
	scrollbar-3dlight-color: #A0C6F3; /*Left First*/
	scrollbar-highlight-color: #FFFFFF; /*Left Second*/ 
	scrollbar-shadow-color: #A0C6F3; /*Right Second*/ 
	scrollbar-darkshadow-color: #FFFFFF; /*Right First*/
	scrollbar-arrow-color: #193463;
	scrollbar-track-color: #F2FBFF;
	scrollbar-face-color: #DFF2FF;
	scrollbar-base-color: #FFFFFF;
}
body {
	border: none;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
body, form, table, a, input, select, textarea {
	font-family: simsun;
	font-size: 12px;
}
a {
	text-decoration: none;
	*ie-dummy: expression(this.hideFocus=true);
	outline: none;
}
img {
	border: none;
}
.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

/*Wisco Input*/
.wiscoinput {
	border: #99B0D0 1px solid;
	*line-height: 16px;
	width: 175px;
	height: 20px;
}
.wiscoinput_readonly {
	background-color: #F1F1F1;
	border: #99B0D0 1px solid;
	*line-height: 16px;
	width: 175px;
	height: 20px;
}

/*Wisco Radio*/
.wiscoradio {
	display: inline-block;
	float: left;
}
.wiscoradio span {
	position: relative;
	bottom: 2px;
	*bottom: 1px;
}

/*Wisco Checkbox*/
.wiscocheckbox {
	display: inline-block;
	float: left;
}
.wiscocheckbox span {
	position: relative;
	bottom: 2px;
	*bottom: 1px;
}

/*Wisco Select*/
.wiscoselect select {
	font-size: 13px;
	*font-size: 14px;
	width: 175px;
}

/*Wisco Listbox*/
.wiscolistbox {
	border: #99B0D0 1px solid;
	display: inline-block;
	overflow: hidden;
	width: 173px;
	*width: 175px;
}
.wiscolistbox select {
	font-size: 13px;
	*font-size: 14px;
	margin: -2px;
	width: 176px;
	*width: 177px;
}

/*Wisco Date*/
.wiscodate {
	position: relative;
	width: 175px;
}
.wiscodate input {
	background-color: #F1F1F1;
	border: #99B0D0 1px solid;
	*line-height: 16px;
	width: 155px;
	height: 20px;
}
.wiscodate a {
	background-image: url("../image/commonstyle/wiscodate.gif");
	border-top: #99B0D0 1px solid;
	border-bottom: #99B0D0 1px solid;
	border-right: #99B0D0 1px solid;
	display: inline-block;
	position: absolute;
	width: 19px;
	height: 18px;
	*width: 20px;
	*height: 20px;
	*top: 1px;
	left: 155px;
}

/*Wisco Time*/
.wiscotime {
	position: relative;
	width: 175px;
}
.wiscotime input {
	background-color: #F1F1F1;
	border: #99B0D0 1px solid;
	*line-height: 16px;
	width: 155px;
	height: 20px;
}
.wiscotime a {
	background-image: url("../image/commonstyle/wiscotime.gif");
	border-top: #99B0D0 1px solid;
	border-bottom: #99B0D0 1px solid;
	border-right: #99B0D0 1px solid;
	display: inline-block;
	position: absolute;
	width: 19px;
	height: 18px;
	*width: 20px;
	*height: 20px;
	*top: 1px;
	left: 155px;
}

/*Wisco More*/
.wiscomore {
	position: relative;
	width: 175px;
}
.wiscomore input {
	background-color: #F1F1F1;
	border: #99B0D0 1px solid;
	*line-height: 16px;
	width: 155px;
	height: 20px;
}
.wiscomore a {
	background-image: url("../image/commonstyle/wiscocustom.gif");
	border-top: #99B0D0 1px solid;
	border-bottom: #99B0D0 1px solid;
	border-right: #99B0D0 1px solid;
	display: inline-block;
	position: absolute;
	width: 19px;
	height: 18px;
	*width: 20px;
	*height: 20px;
	*top: 1px;
	left: 155px;
}

/*Wisco File*/
.wiscofile {
	position: relative;
	width: 175px;
}
.wiscofile input.file {
	background-color: #F1F1F1;
	border: #99B0D0 1px solid;
	display: inline-block;
	position: absolute;
	*line-height: 16px;
	width: 155px;
	height: 20px;
	left: 0px;
}
.wiscofile a {
	background-image: url("../image/commonstyle/wiscofile.gif");
	border-top: #99B0D0 1px solid;
	border-bottom: #99B0D0 1px solid;
	border-right: #99B0D0 1px solid;
	display: inline-block;
	position: relative;
	width: 19px;
	height: 18px;
	*width: 20px;
	*height: 20px;
	float: left;
	left: 155px;
}
.wiscofile a input {
	position: absolute;
	cursor: pointer;
	filter: alpha(opacity: 0);
	opacity: 0;
	font-size: 0px;
	*width: 0px;
	height: 22px;
	*height: 20px;
	top: -2px;
	*top: -1px;
	left: -11px;
	*left: -7px;
	z-index: 10;
}

/*Wisco Textarea*/
.wiscotextarea {
	border: #99B0D0 1px solid;
	overflow-x: hidden;
	overflow-y: auto;
	*line-height: 16px;
	width: 175px;
	height: 100px;
	resize: none;
}

/*Wisco Editor*/
.wiscoeditor {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.wiscoeditor textarea {
	width: 0px;
	height: 0px;
}

/*Wisco Album*/
.wiscoalbum {
	display: inline-block;
}
.wiscoalbum a {
	background-image: url("../image/commonstyle/wiscoalbum.gif");
    background-repeat: no-repeat;
    width: 13px;
    height: 75px;
    float: left;
}
.wiscoalbum a.left {
	background-position: 0px 0px;
}
.wiscoalbum a.right {
	background-position: -13px 0px;
}
.wiscoalbum div.center {
    overflow: hidden;
    width: 562px;
    height: 75px;
    float: left;
}
.wiscoalbum div.center div {
    width: 5620000px;
}
.wiscoalbum div.center span {
    float: left;
}
.wiscoalbum div.center img {
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
	width: 130px;
	height: 75px;
    float: left;
}

/*Wisco Button*/
.wiscobutton {
	display: inline-block;
	height: 21px;
}
.wiscobutton span {
	background-image: url("../image/commonstyle/wiscobutton.gif");
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	float: left;
}
.wiscobutton span.left {
	background-position: 0px 0px;
	width: 10px;
	height: 21px;
}
.wiscobutton span.center {
	background-position: -10px 0px;
	color: #196A99;
	line-height: 20px;
	*line-height: 19px;
	padding-left: 2px;
	padding-right: 2px;
	height: 21px;
}
.wiscobutton span.right {
	background-position: -190px 0px;
	width: 10px;
	height: 21px;
}
.wiscobutton:hover span.left {
	background-position: 0px -21px;
}
.wiscobutton:hover span.center {
	background-position: -10px -21px;
	color: #AB5112;
}
.wiscobutton:hover span.right {
	background-position: -190px -21px;
}
.wiscobutton_disabled {
	display: inline-block;
	height: 21px;
}
.wiscobutton_disabled span {
	background-image: url("../image/commonstyle/wiscobutton.gif");
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	float: left;
}
.wiscobutton_disabled span.left {
	background-position: 0px -42px;
	width: 10px;
	height: 21px;
}
.wiscobutton_disabled span.center {
	background-position: -10px -42px;
	color: #999999;
	line-height: 20px;
	*line-height: 19px;
	padding-left: 2px;
	padding-right: 2px;
	height: 21px;
}
.wiscobutton_disabled span.right {
	background-position: -190px -42px;
	width: 10px;
	height: 21px;
}

/*Wisco Grid*/
.wiscogrid {
	overflow: auto;
	width: 100%;
	height: 100%;
}
.wiscogrid table {
	border-collapse: collapse;
	margin-bottom: -9999px;
	margin-right: -9999px;
}
.wiscogrid tr.normal {
	background-color: #FFFFFF;
}
.wiscogrid tr.highlight {
	background-color: #FFF9D5;
}
.wiscogrid tr.selected {
	background-color: #F2FBFF;
}
.wiscogrid td.head,
.wiscogrid td.check,
.wiscogrid td.link, 
.wiscogrid td.data {
	border-bottom: #D1D9DB 1px solid;
	white-space: nowrap;
	word-break: keep-all;
	padding-left: 10px;
	padding-right: 10px;
	height: 24px;
}
.wiscogrid td.head {
	background-image: url("../image/commonstyle/wiscogridheadbg.gif");
	border-top: #A0C6F3 1px solid;
	border-bottom: #A0C6F3 1px solid;
	color: #193463;
	/*Head Fixed - IE Only*/
	*top: expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	*position: relative;
}
.wiscogrid td.link {
	color: #196A99;
}
.wiscogrid td.link a {
	color: #196A99;
}
.wiscogrid td.link a:hover {
	text-decoration: underline;
}
.wiscogrid td.link span.disabled {
	color: #999999;
}
.wiscogrid td.data span.trim {
	display: inline-block;
	overflow: hidden;
	text-overflow: clip;
	width: 240px;
}

/*Wisco Paging*/
.wiscopaging {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 30px;
}
.wiscopaging div.label {
	display: inline-block;
	margin-top: 7px;
	*margin-top: 9px;
	margin-left: 15px;
}
.wiscopaging div.label span {
	color: #FF0000;
	padding-left: 2px;
	padding-right: 2px;
}
.wiscopaging div.button {
	position: absolute;
	bottom: 6px;
	*bottom: 9px;
	right: 15px;
}
.wiscopaging div.button a {
	background-image: url("../image/commonstyle/wiscopaging.gif");
	background-repeat: no-repeat;
	display: inline-block;
	width: 12px;
	height: 12px;
}
.wiscopaging div.button a.firstpage {
	background-position: 0px 0px;
}
.wiscopaging div.button a.prevpage {
	background-position: -12px 0px;
}
.wiscopaging div.button a.nextpage {
	background-position: -24px 0px;
}
.wiscopaging div.button a.lastpage {
	background-position: -36px 0px;
}

/*Wisco Tree*/
.wiscotree {
	border: #99B0D0 1px solid;
	overflow: auto;
	width: 175px;
	height: 175px;
}

/*Wisco Tab*/
.wiscotab {
	display: inline-block;
	height: 25px;
	float: left;
}
.wiscotab span {
	background-image: url("../image/commonstyle/wiscotab.gif");
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	float: left;
}
.wiscotab span.left {
	background-position: 0px 0px;
	width: 10px;
	height: 25px;
}
.wiscotab span.center {
	background-position: -10px 0px;
	color: #196A99;
	line-height: 24px;
	*line-height: 23px;
	padding-left: 2px;
	padding-right: 2px;
	height: 25px;
}
.wiscotab span.right {
	background-position: -190px 0px;
	width: 10px;
	height: 25px;
}
.wiscotab:hover span.left {
	background-position: 0px -25px;
}
.wiscotab:hover span.center {
	background-position: -10px -25px;
}
.wiscotab:hover span.right {
	background-position: -190px -25px;
}
.wiscotab_current {
	display: inline-block;
	height: 25px;
	float: left;
}
.wiscotab_current span {
	background-image: url("../image/commonstyle/wiscotab.gif");
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	float: left;
}
.wiscotab_current span.left {
	background-position: 0px -25px;
	width: 10px;
	height: 25px;
}
.wiscotab_current span.center {
	background-position: -10px -25px;
	color: #196A99;
	line-height: 24px;
	*line-height: 23px;
	padding-left: 2px;
	padding-right: 2px;
	height: 25px;
}
.wiscotab_current span.right {
	background-position: -190px -25px;
	width: 10px;
	height: 25px;
}
.wiscotab_disabled {
	display: inline-block;
	height: 25px;
	float: left;
}
.wiscotab_disabled span {
	background-image: url("../image/commonstyle/wiscotab.gif");
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	float: left;
}
.wiscotab_disabled span.left {
	background-position: 0px -50px;
	width: 10px;
	height: 25px;
}
.wiscotab_disabled span.center {
	background-position: -10px -50px;
	color: #999999;
	line-height: 24px;
	*line-height: 23px;
	padding-left: 2px;
	padding-right: 2px;
	height: 25px;
}
.wiscotab_disabled span.right {
	background-position: -190px -50px;
	width: 10px;
	height: 25px;
}

/*Wisco Dialog*/
.wiscodialog {
	border: #1D3C59 1px solid;
	background-color: #2E66A1;
	display: inline-block;
	position: absolute;
	*width: 0px;
}
.wiscodialog div.title {
	display: inline-block;
	cursor: default;
	height: 25px;
}
.wiscodialog div.title span {
	display: inline-block;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 5px;
	*margin-top: 6px;
	margin-left: 10px;
	float: left;
}
.wiscodialog div.title a {
	background-image: url("../image/commonstyle/wiscodialog.gif");
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 7px;
	margin-right: 8px;
	width: 10px;
	height: 10px;
	float: right;
}
.wiscodialog div.title a.minimize {
	background-position: 0px 0px;
}
.wiscodialog div.title a.restore {
	background-position: -10px 0px;
}
.wiscodialog div.title a.maximize {
	background-position: -20px 0px;
}
.wiscodialog div.title a.close {
	background-position: -30px 0px;
}
.wiscodialog div.info {
	border: #A0C6F3 1px solid;
	background-color: #FFFFFF;
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.wiscomask {
	background-color: #000000;
	position: absolute;
	filter: alpha(opacity: 15);
	opacity: 0.1;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

/*Wisco Map*/
.wiscomap {
	width: 100%;
	height: 100%;
}
.wiscomap div.BMap_shadow img {
	display: none;
}