<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="false"/>
	<setting useAutoMapCompatibilityMode="true"/>
  </settings>
  <providers embedded="Ik.Framework.DataAccess.DataMapping.Providers.SQLServer.config,Ik.Framework"/>
  <database>
    <provider name="SQLServer"/>
    <dataSource name="Ik.Framework.Data.SqlServer" connectionString="data source=${datasource};database=${database};User ID=sa;Password=sa;" />
  </database>
</sqlMapConfig>