@{
    Layout = null;
    var webRoot = Url.Content("~/");
    webRoot = webRoot == "/" ? "" : webRoot;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <title>运维管理中心</title>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/framework.js"></script>
    <link href="~/Content/css/commonstyle.css" rel="stylesheet" />
    <link href="~/Content/css/mainframe.css" rel="stylesheet" />
</head>
<body>
    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" class="mainframe">
        <tr height="100px">
            <td id="headpanel" class="headpanel">
                <div class="logo"></div>
                <div class="welcome">
                    [欢迎你，<span>系统管理员</span>]<br />
                    <a href="#">修改密码</a>&nbsp;|&nbsp;<a href="#" >帮助</a>&nbsp;|&nbsp;<a href="~/Account/Logout">注销</a>&nbsp;|&nbsp;<a href="#" onclick="window.close();">退出</a>
                </div>
                <div class="menu">
                    <a href="#" onclick="menuItemClick(this, '/Home/Welcome');">
                        <span class="left"></span><span class="center">开发配置管理</span><span class="right"></span>
                        <iframe style="display: none;">
                            <div class="guide">
                                <div class="title"><span class="arrowdown" onclick="foldGuidePanel(this);"></span>配置管理</div>
                                <div class="item">
                                    <a href="#" onclick="guideItemClick(this, '/Config/ConfigManager');">配置定义管理</a>
                                    <a href="#" onclick="guideItemClick(this, '/Config/ConfigItemManager');">全局数据项管理</a>
                                    <a href="#" onclick="guideItemClick(this, '/Config/ConfigEnvManager');">配置环境管理</a>
                                </div>
                            </div>
                        </iframe>
                    </a>
                    <a href="#" onclick="menuItemClick(this, '/Home/Welcome');">
                        <span class="left"></span><span class="center">权限资源管理</span><span class="right"></span>
                        <iframe style="display: none;">
                            <div class="guide">
                                <div class="title"><span class="arrowdown" onclick="foldGuidePanel(this);"></span>权限管理</div>
                                <div class="item">
                                    <a href="#" onclick="guideItemClick(this, '/Auth/AppInfoManager');">权限项目定义</a>
                                    <a href="#" onclick="guideItemClick(this, '/Auth/AppFunctionInfoManager');">项目资源管理</a>
                                    <a href="#" onclick="guideItemClick(this, '/Auth/AppUserInfoManager');">系统用户管理</a>
                                    <a href="#" onclick="guideItemClick(this, '/Auth/AppRoleInfoManager');">角色管理</a>
                                    <a href="#" onclick="guideItemClick(this, '/Auth/AppGroupInfoManager');">用户组管理</a>
                                    <a href="#" onclick="guideItemClick(this, '/Auth/AppGroupRoleInfoManager');">组角色配置</a>
                                    <a href="#" onclick="guideItemClick(this, '/Auth/AppGroupUserInfoManager');">组用户配置</a>
                                    <a href="#" onclick="guideItemClick(this, '/Auth/AppRoleUserInfoManager');">角色用户配置</a>
                                    <a href="#" onclick="guideItemClick(this, '/Auth/AppRoleFunctionInfoManager');">角色资源配置</a>
                                </div>
                            </div>
                        </iframe>
                    </a>
                    <a href="#" onclick="menuItemClick(this, '/Home/Welcome');">
                        <span class="left"></span><span class="center">缓存管理</span><span class="right"></span>
                        <iframe style="display: none;">
                            <div class="guide">
                                <div class="title"><span class="arrowdown" onclick="foldGuidePanel(this);"></span>缓存管理</div>
                                <div class="item">
                                    <a href="#" onclick="guideItemClick(this, '/CacheKey/AppInfoManager');">缓存项目定义</a>
                                    <a href="#" onclick="guideItemClick(this, '/CacheKey/AppKeyItemInfoManager');">缓存键管理</a>
                                    <a href="#" onclick="guideItemClick(this, '/CacheKey/AssInfoManager');">程序集管理</a>
                                    <a href="#" onclick="guideItemClick(this, '/CacheKey/AssValueTypeInfoManager');">值类型管理</a>
                                </div>
                            </div>
                        </iframe>
                    </a>
                    <a href="#" onclick="menuItemClick(this, '/Home/Welcome');">
                        <span class="left"></span><span class="center">系统编号管理</span><span class="right"></span>
                        <iframe style="display: none;">
                            <div class="guide">
                                <div class="title"><span class="arrowdown" onclick="foldGuidePanel(this);"></span>编号管理</div>
                                <div class="item">
                                    <a href="#" onclick="guideItemClick(this, '/Serial/SerialDefineInfoManager');">编号定义管理</a>
                                </div>
                            </div>
                        </iframe>
                    </a>
                </div>
                <div class="path">当前所在功能：<span>&nbsp;</span><span>&nbsp;</span></div>
            </td>
        </tr>
        <tr>
            <td class="bodypanel">
                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="200px" id="leftpanel" class="leftpanel">&nbsp;</td>
                        <td width="5px" class="centerpanel"><span onclick="foldLeftPanel(this);" class="arrowleft"></span></td>
                        <td id="rightpanel" class="rightpanel">
                            <iframe src="" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
<script>
    document.getElementById("headpanel").children[2].children[0].click();
</script>
