<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dataSources" type="Ik.Framework.DataAccess.DataSourcesConfigurationSectionHandler, Ik.Framework"></section>
	</configSections>
	<appSettings>
		<add key="config_key" value="webApi_ios" />
		<add key="config_url" value="localhost:2181" />
		<add key="config_ver" value="1.0.0.0" />
		<add key="AppName" value="配置中心项目"/>
	</appSettings>
	<dataSources>
		<dataSource name="OperationSupport" >
			<readWriteConnection connectionString="Data Source=172.16.0.213;Initial Catalog=operation_support;Integrated Security=False;Persist Security Info=True;User ID=program_rw;Password=eghy678567jkLM;MultipleActiveResultSets=True;Connect Timeout=80;Max Pool Size=100;Application Name=mzapi"></readWriteConnection>
			<readOnlyConnection connectionString="Data Source=172.16.0.213;Initial Catalog=operation_support;Integrated Security=False;Persist Security Info=True;User ID=program_rw;Password=eghy678567jkLM;MultipleActiveResultSets=True;Connect Timeout=80;Max Pool Size=100;Application Name=mzapi;applicationintent=readonly"></readOnlyConnection>
		</dataSource>
	</dataSources>
</configuration>